version: '3.9'

services:
  nginx:
    build: ".docker/local/nginx"
    platform: linux/arm64/v8
    container_name: nginx
    ports:
      - "8080:80"
    volumes:
      - ./server/public:/app/public
      - ./.docker/local/nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - app
    networks:
      - default
      - shared-network

  app:
    build: ".docker/local/php"
    container_name: app
    working_dir: /app
    volumes:
      - "./server:/app"
      - "./.docker/local/php/php.ini:/usr/local/etc/php/conf.d/php.ini"
    ports:
      - "9000:9000"
    environment:
      - DB_CONNECTION=mysql
      - DB_HOST=mysql
      - DB_PORT=3306
      - DB_DATABASE=teamate
      - DB_USERNAME=teamate
      - DB_PASSWORD=password
    depends_on:
      - mysql
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - default
      - shared-network

  mysql:
    container_name: mysql
    platform: linux/amd64
    build: ".docker/local/mysql"
    ports:
      - "3306:3306"
    volumes:
      - ".docker/local/mysql/my.cnf:/etc/mysql/my.cnf"
      - "./storage/mysql:/var/lib/mysql"
      - ".docker/local/mysql/mysql-docker-entrypoint.sql:/docker-entrypoint-initdb.d/mysql-docker-entrypoint.sql"
    environment:
      MYSQL_DATABASE: teamate
      MYSQL_USER: teamate
      MYSQL_PASSWORD: password
      MYSQL_ROOT_PASSWORD: password
    networks:
      - default
      - shared-network

networks:
  default:
    name: project_default_network
  shared-network:
    external: true
